{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    // use double quotes
    "quotes": [
      2,
      "single"
    ],
    // indent with 4 spaces
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],

    // only use let and const for variables, not var
    "no-var": 2,

    // limit cyclomatic complexity to 10
    "complexity": [
      2,
      10
    ],
    // when using "for in" to iterate object properties, check it object has own property
    "guard-for-in": 2,
    // not allowed are yoda-style expressions
    "yoda": 2,
    // always use ES6 shorthand notation for objects
    "object-shorthand": 2,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-in-parens": [
      2,
      "never"
    ],

    "array-bracket-spacing": [2, "always", {
      "singleValue": true,
      "objectsInArrays": false,
      "arraysInArrays": false
    }],

    "generator-star-spacing": [
      2,
      "before"
    ],

    // it's OK to use function hoisting
    "no-use-before-define": [2, "nofunc"],

    "new-cap": [
      2,
      {
        "newIsCapExceptions": [
          "fromImage"
        ]
      }
    ],

    "no-unused-vars": [ 2 ]
  }
}
